<div class="col-sm-6">
  <li class="mainli">{{#link-to 'adminpost' post.id}}
    <img class="mainpageimg" src={{post.photo}} alt={{post.title}}><br>
    {{post.title}}<br>
    {{post.author}}{{post.date}}<br>
    {{/link-to}}
  </li>
</div>
